@font-face {
    font-family: "Reggae One";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ReggaeOne-Regular.ttf');
}

/* Scroll 3 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #1a202c;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}


body {
    /* Main */
    position: relative;
    width: 1700px;
    height: 3200px;

    background: linear-gradient(180deg, #000000 0%, #3B2A6B 48.97%, #000000 100%);
}

.navbargroup {
    .navbar {
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 85px;
        left: 0px;
        top: 0px;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }

    .catalog-button {
        /* Rectangle 3 */
        position: absolute;
        left: 30%;
        right: 60%;
        top: 32.94%;
        bottom: 20%;

        border: 4px solid rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
        border-radius: 62px;
    }

    .rectangle3 {

        position: absolute;
        left: 10.00%;
        right: 60.44%;
        top: 25%;
        bottom: 100%;
        // position: absolute;
        // left: 34.44%;
        // right: 60.61%;
        // top: 44.71%;
        // bottom: 24.71%;
        text-decoration: none;



        font-family: 'Reggae One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 17px;

        color: #FFFFFF;
    }

    .searchbar {
        position: absolute;
        left: 40.61%;
        right: 37.17%;
        top: 32.94%;
        bottom: 20%;

        //   position: absolute;
        //   left: 40.61%;
        //   right: 37.17%;
        //   top: 32.94%;
        //   bottom: 20%;

        border: 4px solid rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
        border-radius: 62px;
    }

    .input-navbar {
        position: absolute;
        left: 40.61%;
        right: 37.17%;
        top: 32.94%;
        bottom: 20%;
        //  padding-inline-start: 160px;
        font-family: "Reggae One";
        color: white;

        background-color: transparent;
        outline: none;
        border: 4px solid rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
        border-radius: 62px;
    }

    .search-button {
        position: absolute;
        left: 63.89%;
        right: 33.89%;
        top: 32.94%;
        bottom: 20%;

    }

    .pfp {
        position: absolute;
        left: 92.89%;
        right: 2.94%;
        top: 11.76%;
        bottom: 0%;

        border: 1px solid rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
        border-radius: 62px;
    }
}

.div1{
    .bigtext{
    position: absolute;
    width: 442px;
    height: 404px;
    left: 218px;
    top: 255px;
}

    .bestsellers{
    position: absolute;
    width: 776px;
    height: 98px;
    left: 910px;
    top: 200px;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 93px;
    text-align: center;

    color: #FFFFFF;
}

    .bestseller1{
    position: absolute;
    width: 218px;
    height: 324px;
    left: 910px;
    top: 475px;
    z-index: 12;
}

    .bestseller1-t{
    /* ELDEN RING Deluxe edition */
    position: absolute;
    width: 191px;
    height: 73px;
    top: 200px;
    left: 10px;
    z-index: 10;
    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #FFFFFF;
}

    .bestsellerpic1{
    position: absolute;
    width: 216px;
    height: 322px;
    z-index: 9;
    border-radius: 15px;
    left: 910px;
    top: 475px;
    top: 475px;
}

    .bestseller2{
    /* Bestseller 2 */


    position: absolute;
    width: 218px;
    height: 324px;
    left: 1208px;
    top: 475px;

}

    .bestsellerpic2{
    position: absolute;
    width: 218px;
    height: 322px;

    border-radius: 15px;
    left: 1208px;
    top: 475px;
}

    .bestseller2-t{
    position: absolute;
    width: 191px;
    height: 31px;
    top: 230px;
    left: 10px;
    z-index: 2;
    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    /* identical to box height */


    color: #FFFFFF;
}

    .bestseller3{
    /* Bestseller 3 */


    position: absolute;
    width: 218px;
    height: 324px;
    left: 1506px;
    top: 473px;
}

    .bestsellerpic3{
    position: absolute;
    width: 217px;
    height: 324px;
    left: 1506px;
    top: 473px;

    border-radius: 15px;
}

    .bestseller3-t{
    /* BATTLEFIELD 2042 */
    position: absolute;
    width: 191px;
    height: 58px;
    top: 230px;
    left: 10px;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;

    color: #FFFFFF;
}

    .regtangle_bestseller1{
    /* bestseller-1 */
    position: absolute;
    width: 218px;
    height: 324px;

    z-index: 7;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;

}

    .regtangle_bestseller2{
    /* bestseller-2 */
    position: absolute;
    width: 218px;
    height: 324px;
    z-index: 7;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

    .regtangle_bestseller3{
    /* bestseller-3 */
    position: absolute;
    width: 218px;
    height: 324px;
    z-index: 7;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}
}

.div2{
    .bestcosts{
    /* Лучшие скидки */


    position: absolute;
    width: 309px;
    height: 317px;
    left: 90px;
    top: 893px;
}

    .krugsupport{
    /* Круглосуточная поддержка */


    position: absolute;
    width: 309px;
    height: 317px;
    left: 519px;
    top: 900px;

}

    .bestachievements{
    /* Крутые достижения */


    position: absolute;
    width: 309px;
    height: 294px;
    left: 948px;
    top: 932px;
}

    .bestreviews{
    /* Отличные отзывы */


    position: absolute;
    width: 309px;
    height: 304px;
    left: 1377px;
    top: 920px;
}

}

.sell_case{
    /* Sell case */

    position: absolute;
    width: 1650px;
    height: 977px;
    left: 85px;
    top: 1266px;
}

.newprod{
    /* Rectangle 4 */


    position: absolute;
    left: 13.45%;
    right: 65.94%;
    top: 1.27%;
    bottom: 94.11%;

    border: 4px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 62px;
    }

.newprod_button{
    /* НОВИНКИ */

    text-decoration: none;
    position: absolute;
    left: 24.14%;
    right: 66.57%;
    top: 0%;
    bottom: 2.84%;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    }

.leadsells{
    /* Rectangle 4 */

    position: absolute;
    left: 37.39%;
    right: 42%;
    top: 1.27%;
    bottom: 94.11%;

    border: 4px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 62px;
    }

.leadsells_button{
    /* ЛИДЕРЫ ПРОДАЖ */
    text-decoration: none;
    position: absolute;
    left: 5%;
    //   right: 42.63%;
    top: 0%;
    bottom: 2.84%;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    }

.preorders{
    /* Rectangle 4 */


    position: absolute;
    left: 61.33%;
    right: 18.06%;
    top: 1.27%;
    bottom: 94.11%;

    border: 4px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 62px;
}

.preorders_button{
    text-decoration: none;
    /* ПРЕДЗАКАЗЫ */
    position: absolute;
    left: 14%;
    // right: 18.69%;
    top: 0%;
    bottom: 2.84%;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    }

@mixin dynamic_product_text{
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 75%;
    bottom: 9%;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;

    color: #FFFFFF;
}

.dynamic_products{
    /* Dynamic Products */
    width: 1400px;
    height: 650px;
    left: 87px;
    top: 127px;
}

.dynamic_product1{
    @include dynamic_product_text;
}
.dynamic_product_rectangle1{
    /* dynamic-product-rectangle */
    position: absolute;
    width: 200px;
    height: 300px;
    left: 87px;
    top: 127px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product2{
    @include dynamic_product_text;
}
.dynamic_product_rectangle2{
    position: absolute;
    width: 200px;
    height: 300px;
    left: 387px;
    top: 127px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product3{
    /* Dynamic Products */
    @include dynamic_product_text;
}
.dynamic_product_rectangle3 {
    /* dynamic-product-rectangle */


    position: absolute;
    width: 200px;
    height: 300px;
    left: 687px;
    top: 127px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product4{
    /* Dynamic Products */
    @include dynamic_product_text;

}
.dynamic_product_rectangle4{
    /* dynamic-product-rectangle */


    position: absolute;
    width: 200px;
    height: 300px;
    left: 987px;
    top: 127px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product5{
    /* Dynamic Products */
    @include dynamic_product_text;

}
.dynamic_product_rectangle5{
    /* dynamic-product-rectangle */

    position: absolute;
    width: 200px;
    height: 300px;
    left: 1287px;
    top: 127px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product6{
    @include dynamic_product_text;
}
.dynamic_product_rectangle6{
    /* dynamic-product-rectangle */


    position: absolute;
    width: 200px;
    height: 300px;
    left: 87px;
    top: 477px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product7{
    @include dynamic_product_text;
}
.dynamic_product_rectangle7{
    /* dynamic-product-rectangle */


    position: absolute;
    width: 200px;
    height: 300px;
    left: 387px;
    top: 477px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product8{
    @include dynamic_product_text;
}
.dynamic_product_rectangle8{
    /* dynamic-product-rectangle */


    position: absolute;
    width: 200px;
    height: 300px;
    left: 687px;
    top: 477px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product9{
    @include dynamic_product_text;
}
.dynamic_product_rectangle9{
    /* dynamic-product-rectangle */


    position: absolute;
    width: 200px;
    height: 300px;
    left: 987px;
    top: 477px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}

.dynamic_product10{
    @include dynamic_product_text;
}
.dynamic_product_rectangle10{
    /* dynamic-product-rectangle */


    position: absolute;
    width: 200px;
    height: 300px;
    left: 1287px;
    top: 477px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border-radius: 15px;
}
