@charset "UTF-8";
@font-face {
    font-family: "Reggae One";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ReggaeOne-Regular.ttf');
}

.standart_goty_buttons{
    /* standart goty buttons */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 150px;

}
@mixin gotyselectorbutton{

    text-decoration: none;
    position: relative;
    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}
@mixin gotybuttonforms{
    position: absolute;
    width: 277px;
    height: 10px;
    border: 25px solid rgb(184, 86, 86);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    // border-radius: 5px;
}
.standart_product_button{

    @include gotybuttonforms;
}
.standart_product_button_text{
    left: 2.50em;
    @include gotyselectorbutton;
}

.deluxe_product_button{

    @include gotybuttonforms;
}
.deluxe_product_button_text{
    left:2.90em;
    @include gotyselectorbutton;
}

.goty_product_button{
    @include gotybuttonforms
}
.goty_product_button_text{
    left: 0.7rem;
    @include gotyselectorbutton
}

.big_product_pic{
    /* Product_pic */


    position: absolute;
    width: 383px;
    height: 569.23px;
    left: 148px;
    top: 243.14px;
    z-index: 12;
}
.product_pic_rectangle{
    box-sizing: border-box;

    position: relative;
    width: 383px;
    height: 569.23px;


    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.19%, #000000 93.75%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;

}
.real_product_pic{
    position: absolute;
    width: 383px;
    height: 565.72px;
    left: 148px;
    top: 243.14px;

    border-radius: 15px;
}
.name{
    /* NieR: Automata */


    position: absolute;
    width: 870px;
    height: 200px;
    left: 613px;
    top: 269px;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 97px;
    letter-spacing: -0.04em;

    color: #FFFFFF;

}
.lang{
    /* языки: Русский, Английский, Японский */


    position: absolute;
    width: 455px;
    height: 58px;
    left: 613px;
    top: 446px;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}
.product_screenshots{
    /* Скриншоты */
    position: relative;
    width: 1117px;
    height: 520px;
    left: 613px;
    top: 400px;
    display: grid;
    grid-template-columns: repeat(3, 370px);
}
.screenshot_text{
    position: absolute;
    width: 275px;
    height: 45px;
    left: 615px;
    top: 526px;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}

.screenshot{
    /* Rectangle 12 */

    position: relative;
    width: 361px;
    height: 220px;


    background: #C4C4C4;
}

.genres{
    /* Жанры, платформы и тп */

    position: relative;
    width: 383px;
    height: 433px;
    left: 148px;
    top: 140px;
    border: 3px solid #9D4F4F;
    border-radius: 15px;
    display: grid;
}

@mixin textgenre{
    position: relative;
    width: 130px;
    height: 20px;
    left: 0.5em;
    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}
.genre{
    @include textgenre;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 188px);
    justify-content: space-between;
    align-items: stretch;

}

.review_requirements{
    /* review requirements and more */


    position: absolute;
    width: 1170px;
    height: 450px;
    left: 621px;
    top: 1107px;
}

.tabs{
    /* Вкладки */
    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;


    position: relative;
    width: 1019px;
    height: 50px;

}
.tab, .tab-title{
    display: inline-block;

}

.tab input[type="radio"] { display: none;  }
.tab-title{
    width: 334px;
    height: 50px;

    background: #723434;
    border-radius: 10px 10px 0px 0px;
}
.tab-content {
    /* Rectangle 16 */
    position: absolute;
    width: 1168px;
    height: 500px;
    left: 0px;
    text-align: left;
    background: rgba(0, 0, 0, 0.38);
    display: none;
}


.tab :checked + .tab-title {
    position: relative; /* Относительное позиционирование */
    background: #B85656; /* Цвет фона */
    top: 1px; /* Сдвигаем вниз */
    z-index: 1; /* Отображаем поверх содержимого */
}
.tab :checked ~ .tab-content {
    display: block; /* Показываем активную вкладку */
}


.descr_sim{
    /* Rectangle 9 */


    position: absolute;
    width: 277px;
    height: 50px;
    left: 168px;
    top: 1353px;

    background: #723434;
    border-radius: 10px;
}
.descr_sim_text{
    /* Похожие */

    position: absolute;
    width: 277px;
    height: 50px;


    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}
.similargames{
    /* Похожие игры */
    position: relative;
    width: 278px;
    height: 800px;
    left: 168px;
    top: 254px;
    display: grid;
    grid-template-rows: repeat(2, 365px);
}

.similar_game{
    /* Dynamic Product 10 */

    position: relative;
    width: 250px;
    height: 350px;

    background: #C4C4C4;
    border-radius: 15px;
}

.similar_game_text{
    /* similar game 1 */

    position: relative;
    top:240px;
    left:15px;
    width: 220px;
    height: 44px;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}

.commentary{
    /* Комментарии */


    position: relative;
    width: 1168px;
    height: 950px;
    left: 615px;
    bottom: 250px;
    background: rgba(0, 0, 0, 0.38);
}
.comments_bar{
    /* Rectangle 9 */


    position: relative;
    width: 1168px;
    height: 50px;
    bottom: 20px;

    background: #B85656;
    border-radius: 10px 10px 0px 0px;
}
.comment_title{
    /* Комментарии */


    position: absolute;
    width: 1168px;
    height: 50px;


    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}

.comment{

}

.pfp_button{
    /* Rectangle 4 */


    box-sizing: border-box;

    position: relative;
    width: 50px;
    height: 50px;
    left: 656px;


    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 62px;
}
